@model Category


@{Layout = "_Layout";
    ViewBag.Title = "Categories";}
<h2> Category Details </h2>
<a asp-action="CategoryList" class="btn btn-sm btn-primary">Go Back</a>
<h3>@ViewBag.StatusCode</h3>
<form method="post">
    <div class="form-group">
        <label for="id">Enter the ID you want to search for:</label>
        <input class="form-control" name="id" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Search</button>
    </div>
</form>


@if (Model != null)
{
    <h2> Reservation </h2>
    <table class="table table-sm table-stripped table-borderd m-2">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>     
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.CategoryId</td>
                <td>@Model.CategoryName</td>
            </tr>
        </tbody>
    </table>
}